.o-button {
  appearance: none;
  align-items: center;
  background-color: transparent;
  border: solid 1px $color-primary;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 700;  
  height: 2.5em;
  justify-content: center;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: lowercase;
  transition: all 0.15s ease-in;
  min-width: 150px;
  // transition: box-shadow 0.15s ease-in-out;

  &:hover {
    background-color: #fff;
    box-shadow: none;
    color: $color-primary;
  }

  &--ghost {
    background-color: transparent;

    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
  }
}


// Breakout button
// https://hankchizljaw.com/wrote/create-a-semantic-breakout-button-to-make-an-entire-element-clickable/

// Fade Out Siblings
// https://www.trysmudford.com/blog/fade-out-siblings-css-trick/