.o-list {
  list-style-type: none;
  padding-left: 0;

  &--inline {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.3125em;
    margin-right: -0.3125em;

    > li {
      display: inline-block;
      margin-top: 0;
      padding: 0 0.3125em;
    }
  }
}