// Dropdown menu
// https://css-tricks.com/dropdown-menus-with-more-forgiving-mouse-movement-paths/
// https://polypane.rocks/blog/the-perfect-responsive-menu-2019/
// https://codepen.io/skreborn/pen/ryvqLE

.c-menu-primary {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1600px;
  transform: translateX(-50%);
}