$color-default:       #3f3f3f;
$color-primary:       #ef5a27;
$color-alternate:     #F6AD3A;
$color-alternate2:    #5167bd;
$color-gray:          rgb(128, 128, 128);
$color-light-gray:    #f7f7f7;

$color-primary-dark:  #67a158;
