.c-masthead {
  background: #000
    url("../images/shallow-focus-photography-of-macbook-792199.webp") 50% 100% /
    cover no-repeat;
  color: #fff;
  min-height: 75vh;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: var(--grid-gutter);

  @include media(">=small") {
    padding: calc(var(--grid-gutter) + 0.625rem);
  }

  &--full {
    min-height: 100%;
  }

  &--mini {
    min-height: 100px;
    background: #000;
    @include media("<small") {
      min-height: 80px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#000, 0.9);
  }

  &__title {
    margin-top: 0;
  }
}
