<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/site.webmanifest">
   
    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ page.title }}">
    <meta name="description" content="Digiteam is a digital business consultancy focusing on digital strategy, user experience, design and technology. We can help you with digital products, websites, web applications, analytics, and SEO.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.baseurl}}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="Digiteam is a digital business consultancy focusing on digital strategy, user experience, design and technology. We can help you with digital products, websites, web applications, analytics, and SEO.">
    <meta property="og:image" content="{{site.baseurl}}/assets/images/digiteam-social-share.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{site.baseurl}}">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta property="twitter:description" content="Digiteam is a digital business consultancy focusing on digital strategy, user experience, design and technology. We can help you with digital products, websites, web applications, analytics, and SEO.">
    <meta property="twitter:image" content="{{site.baseurl}}/assets/images/digiteam-social-share.png">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
  </head>
  <body>
    {% include header.html %}
    <main class="margin-top-0">
      {{ content }}
    </main>
    <!-- {% include footer.html %} -->
  </body>
</html>