// Typography
// https://material.io/guidelines/style/typography.html

// @include fluid-type(font-size, 20em, map-get($breakpoints, '1440px'), 1.5rem, $typography-display4);

// Note: Base font size is used as the value that all components hang off in
// terms of their overall size.

// https://blog.logrocket.com/the-elements-of-responsive-typography/
// h1 {
//   font-size: 2.25rem; // 36px
// }

// @media (min-width: 414px){
// h1 {
//   font-size: calc(1.3rem + 3.6vw); // fluidly scale
//   }
// }

// @media (min-width: 1440px){
// h1 {
//   font-size: 4.75rem; // 76px
// }
// }

body {
  font: normal 400 #{$base-font-size}/#{$base-line-height} $font-sans-serif;
}

h1,
.o-text-h1 {
  font-size: var(--fontsize-h1, 6.25rem);
  font-weight: 300;
  line-height: 1.125;
}

.o-text-hero {
  font-size: var(--fontsize-hero, 5rem);
  font-weight: 700;
}

// Roboto | 40 pixels | Light
h2,
.o-text-h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

// Monserrat | 25 pixels | Light | Black
h3,
.o-text-h3 {
  @include fluid-type(
    font-size,
    $breakpoint-min,
    $breakpoint-max,
    0.9375em,
    1.5625em
  );
}

// Open Sans | 20 pixels | Semi-Bold | Black
h4,
.o-text-h4 {
  @include fluid-type(
    font-size,
    $breakpoint-min,
    $breakpoint-max,
    0.875em,
    1.25em
  );
}

// Monserrat | 20 pixels | Light | Black
h5,
.o-text-h5 {
  @include fluid-type(
    font-size,
    $breakpoint-min,
    $breakpoint-max,
    0.875em,
    1.25em
  );
}

// h6,
// .o-text-h6 {

// }

.o-text-subheader {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.o-text-caption {
  font-size: 0.875rem;
  letter-spacing: 0.2142em;
}

.o-text-small {
  font-size: 0.75rem;
}

.o-text-medium {
  font-weight: 400;
}
