body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

.l-region {
  background-color: #fff;
  margin-top: 0;
  padding-bottom: var(--region-padding, 6.25rem);
  padding-top: var(--region-padding, 6.25rem);
}

.page-internal .l-region {
  padding-bottom: var(--region-padding, 2.25rem);
  padding-top: var(--region-padding, 2.25rem);
}
